main{
	margin-top: -60px !important;
}
.p-hero{
	width:100%;
}
.p-hero img{
	width: 100vw;
}
.p-content{
	margin: 60px auto;
	max-width:1020px;
	clear: both;
	box-sizing: border-box;
}
.p-content .left{
	width: 30%;
	display: inline-block;
	padding-right: 60px;
	box-sizing: border-box;
}
.p-content .right{
	width: 70%;
	display: inline-block;
	float: right;
}
.cv h3{
	margin: 10px 0;
}
.cv p{
	margin-top: 0px;
}
.left h3:nth-child(1){
	margin-top: 21.060px;
}
.right h3:nth-child(1){
	margin-top: 21.060px;
}