main{
	margin-top: -60px !important;
}
.p-hero{
	width:100%;
}
.p-hero img{
	width: 100vw;
	position: relative;
}
.p-hero h2{
	font-size: 4em;
	color: #fff;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1020px;
	width: 100%;
	text-shadow: 1px 1px 1px #d4d4d4;
	line-height: 64px;
}
.p-content{
	margin: 60px auto;
	max-width:1020px;
	clear: both;
	box-sizing: border-box;
}
.p-content .left{
	width: 30%;
	display: inline-block;
	padding-right: 60px;
	box-sizing: border-box;
}
.p-content .right{
	width: 70%;
	display: inline-block;
	float: right;
}
.cv h3{
	margin: 10px 0;
}
.cv p{
	margin-top: 0px;
}
.left h3:nth-child(1){
	margin-top: 21.060px;
}
.right h3:nth-child(1){
	margin-top: 21.060px;
}
.cv hr{
	border-style: solid;
	border-width: 0.5px;
	margin: 6px 0;
	width:100%;
	color: #d9d9d9;
}