

.c-content h1{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 15px;
    color: #FBB829;
}
.c-content h2{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 15px;
    color: #6D6D6D;
}
.c-content p{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 60px;
}
.c-content{
    max-width: 1020px;
    margin: 60px auto;
}
.personalinfo p{
    font-size: 1em;
    margin-top: 0;
    line-height: 1.4em;
}
.personalinfo h3{
    margin: 0;
}
#c-socialmedia span{
    font-size: 2rem;
    padding-right: 15px;
}
#c-socialmedia a:hover .icon-facebook{
    color: #3B5998;
    transition: all 0.3s ease;
}
#c-socialmedia a:hover .icon-linkedin{
    color: #007bb5;
    transition: all 0.3s ease;
}
#c-socialmedia a:hover .icon-pinterest{
    color: #cb2027;
    transition: all 0.3s ease;
}