@font-face {
	font-family: 'icomoon-arrows';
	src:url('../Fonts/icomoon-arrows.eot?8pt58x');
	src:url('../Fonts/icomoon-arrows.eot?8pt58x#iefix') format('embedded-opentype'),
		url('../Fonts/icomoon-arrows.ttf?8pt58x') format('truetype'),
		url('../Fonts/icomoon-arrows.woff?8pt58x') format('woff'),
		url('../Fonts/icomoon-arrows.svg?8pt58x#icomoon-arrows') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="arrows-"], [class*=" arrows-"] {
	font-family: 'icomoon-arrows';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.arrows-arrow-right:before {
	content: "\e600";
}
.arrows-arrow-left:before {
	content: "\e601";
}
main{
	margin-top: 0 !important;
}
.p-content p{
	font-size: 1.15rem;
}
.p-content h2{
	margin-top: 60px;
}
.p-content h2:first-child{
	margin-top: 0;
}
.p-content ul{
	margin-top: 0;
}

.p-hero{
	width:100%;
	position: relative;
}
.p-hero img{
	width: 100vw;
	position: relative;
}
.p-hero h2{
	font-size: 4em;
	color: #fff;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1020px;
	width: 100%;
}
.p-content{
	margin: 60px auto;
	max-width:1020px;
	clear: both;
	box-sizing: border-box;
	position: relative;
}
.p-content .left{
	width: 70%;
	display: inline-block;
	padding-right: 60px;
	box-sizing: border-box;
}
.p-content .right{
	width: 30%;
	display: inline-block;
	float: right;
}
.p-content.last{
	margin-bottom: 0;
}
.full-wrapper.last{
	margin-bottom: 0;
}

/*Content in half*/
.p-content.half{
	height: 100%;
}
.p-content.half .left{
	width: 50%;
}
.p-content.half .right{
	width: 50%;
}
/*!Content in half*/

.p-content ul{
	list-style: none;
}
.screenshots-wrapper{
	background-color: #E9E9E9;
	width: 100vw;
	height: auto;
	float: left;
	clear: both;
	margin: 0;
	margin-bottom: 60px;
}
.full-wrapper{
	width: 100vw;
	height: auto;
	float: left;
	clear: both;
	margin: 0;
	margin-bottom: 60px;
	position: relative;
}

#gradient1{
	margin-bottom: 0;
	background: linear-gradient(0deg, #93c9c7, #ffffff);
	background-size: 400% 400%;

	/*
	-webkit-animation: fading 29s ease infinite;
	-moz-animation: fading 29s ease infinite;
	animation: fading 29s ease infinite;
	*/
}

/*animation frames
@-webkit-keyframes fading {
    	0%{background-position:50% 0%}
    	50%{background-position:50% 100%}
    	100%{background-position:50% 0%}
	}
	@-moz-keyframes fading {
    	0%{background-position:50% 0%}
    	50%{background-position:50% 100%}
    	100%{background-position:50% 0%}
	}
	@keyframes fading { 
    	0%{background-position:50% 0%}
    	50%{background-position:50% 100%}
    	100%{background-position:50% 0%}
	}
!animation frames*/

.full-wrapper .p-content{
	margin-bottom: 0;
}

.screenshots{
	max-width: 1020px;
	margin: 60px auto;
	position: relative;
}
.screenshots img{
	height: auto;
	width: 80% !important;
	margin: 0 auto;
}
.owl-next .arrows-arrow-right{
	font-size: 40px;
	color: #3B4E6A;
	position: absolute;
	top: 45%;
	right: -10%;

}
.owl-prev .arrows-arrow-left{
	font-size: 40px;
	color: #3B4E6A;
	position: absolute;
	top: 45%;
	left: -10%;
}
.o-left{
	position: absolute;
	left: -20%;
}
.o-right{
	position: absolute;
	right: -20%;
}
.o-full{
	width: 100vw;
	z-index: -10000;
	position: absolute;
	top: 0;
	left: 0;
}
.image-l{
	width: 600px;
}

.center{
	padding: 0 90px;
}
.full-img img{
	max-width: 100%;
	max-height: 100%;
}
.full-img{
	width: 100%;
	margin-top: 24px;
}

.img-centered{
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	margin-top: 24px;
}
#colorscheme{
	background-image: url(../Images/ColorScheme.png);
	height: 382px;
}
#typography{
	background-image: url(../Images/typo.png);
	height: 167px;
}

.squares{
	width: 100%;
	height: 100%;
}
.square{
	box-sizing: border-box;
	height: 200px;
	width: 33.3%;
	float: left;
	padding: 10px;
	display: inline-block;
}
.square .text-wrapper{
	width:100%;
	height:100%;
	padding: 20px;
	box-sizing:border-box;
	background-color: #b8c4a5;
}
.square span{
	color: #4d4d4d;
	font-size: 3.8rem;
	font-weight: 700;
	margin: 0;
}
.square p{
	color: white;
	font-size: 0.9em;
	line-height: 1.2em;
	margin: 0;
}

#numbers .center > p{
	background-color: white;
}
.sources{
	font-size: 0.7em;
	clear: both;
}

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
}

ol ol {
    margin: 0 0 0 1em; /* Add some left margin for inner lists */
}
.rectangle-list li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #666666;
    transition: all .3s ease-out;   
}

.rectangle-list li:hover{
    background: #eee;
}   

.rectangle-list li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #92c8c6;
    color: white;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle-list li:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

.rectangle-list li:hover:after{
    left: -.5em;
    border-left-color: #92c8c6;             
}
