main{
	margin-top: -60px !important;
}
.p-hero{
	width:100%;
}
.p-hero img{
	width: 100vw;
}
.p-content{
	margin: 60px auto;
	max-width:1020px;
	clear: both;
	box-sizing: border-box;
}
.p-content .left{
	width: 70%;
	display: inline-block;
	padding-right: 60px;
	box-sizing: border-box;
}
.p-content .right{
	width: 30%;
	display: inline-block;
	float: right;
}
.p-content ul{
	list-style: none;
}
.screenshots{
	max-width: 1020px;
	margin: 0 auto;
}
.screenshots img{
	height: 650px;
	width: 100%;
}