/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}
 
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}
 
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}
 
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}
 
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {} 

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?b5sa7g');
	src:url('../fonts/icomoon.eot?b5sa7g#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?b5sa7g') format('truetype'),
		url('../fonts/icomoon.woff?b5sa7g') format('woff'),
		url('../fonts/icomoon.svg?b5sa7g#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
	content: "\e800";
}
.icon-facebook:before {
	content: "\e801";
}
.icon-instagram:before {
	content: "\e802";
}
.icon-linkedin:before {
	content: "\e803";
}
.icon-pinterest:before {
	content: "\e804";
}

body{
	margin:0;
	font-family: 'Maven Pro', sans-serif;
	font-size: 16px;
}
h1{
	font-size: 24px;
	font-weight: bold;
}
p{
	font-size: 16px;
	line-height: 36px;
	color: #666666;
}
a{
	text-decoration: none;
	color: #3B4E6A;
}
main{
	margin-top: 100px;
}
#nav-wrap{
	background-color: #fff;
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0px;
	transition: transform 0.5s ease-out;
	z-index: 100;
}
.nav-closed{
	transform: translateY(-80px);

}
.nav-inner{
	max-width: 1400px;
	float: left;
}
#nav-wrap h1{
	color: #3B4E6A;
	display: block;
	float: left;
	padding-left: 90px;
}

.menu{
	width: 57.28px;
	float: right;
	display: inline-block;
	padding-right: 90px;
	position: relative;
	top:50%;
	transform: translateY(-50%);
}

.menu hr{
	border-style: solid;
	border-width: 1px;
	width:36px;
	color: #3B4E6A;
}

.hero{
	max-width: 1020px;
	!important margin-top: 100px;
	margin: 60px auto;
}

.hero p{
	font-size: 22px;
	text-align: center;
}
.hero i{
	font-weight: bold;
	font-size: 2.5em;
}

#sidebar{
	position: fixed;
	width:240px;
	height: 100%;
	background: #3B4E6A;
	top:0px;
	right:-410px;
	transition: all 0.3s ease-out;
	z-index: 150;
	/*box-shadow: -3px 0px 5px #666;*/	
}
#sidebar nav{
	clear: both;
}
#sidebar h3{
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}
#sidebar ul a{
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
	border-bottom: 1px solid #57769B;
	padding: 1em;
	-webkit-transition: all 0.25s;
          transition: all 0.25s;
}
#sidebar ul a:hover{
	background: #57769B;
	-webkit-transition: all 0.1s;
          transition: all 0.1s;
}
#sidebar ul a:active{
	background: #E4DBD4;
	color: #3B4E6A;
}
#sidebar ul{
	list-style: none;
  	padding: 0;
  	margin: 0;
}
#sidebar .socialmedia{
	margin-left:25%;
	margin-top: 100px;
	width: 100%;

}
#sidebar .socialmedia a{
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
	float: left;
}
#sidebar .socialmedia .icon-facebook{
	letter-spacing: 20px;
	font-size: 28px;
}
#sidebar .socialmedia .icon-linkedin{
	letter-spacing: 20px;
	font-size: 28px;
}
#sidebar .socialmedia .icon-pinterest{
	letter-spacing: 20px;
	font-size: 28px;
}
#sidebar .icon-cross{
	font-size: 24px;
	color:#fff;
	padding: 17px;
	float: right;
}
#sidebar.sb-open{
	display: block;
	right: 0px;
}
.g-wrapper{
	margin: 0 auto;
	max-width: 1020px;
}
.g-row{
	width: 100%;
	clear: both;
}
.p-container{
	box-sizing: border-box;
	padding: 15px;
	height: 450px;
	width: 50%;
	display: inline-block;
	float: left;
}
.p-container a{
	color:#fff;
}
.p-container .inner-wrapper hr{
	border-style: solid;
	border-width: 3px;
	width: 45px;
	color: #fff;
	margin: 0;
}
.p-container .inner-wrapper h3{
	margin: 16px 0;
	font-size: 2em;
	font-weight: bold;
	color: #fff;
}
.p-container .inner-wrapper{
	width:100%;
	height:100%;
	padding: 20px;
	box-sizing:border-box;	
}

/*<Title and category effect>*/
.p-container .inner-wrapper .p-title{
	margin: 20px 0 10px 0;
    padding: 20px 0 0 0;
    font-size: 2em;
    position: relative;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}
.p-container .inner-wrapper .p-title:before{
	content: '';
    position: absolute;
    background: #fff;
    width: 250px;
    height: 6px;
    top: 0px;
    -webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
    -moz-transition: margin-top 0.2s;
    transition: margin-top 0.2s;
}
.p-container .inner-wrapper .p-category{
	text-transform: uppercase;
    display: inline-block;
    font-size: 1em;
    letter-spacing: 1px;
    color: #fff;
    -webkit-transform: translateY(10px);
    -moz-transform: -moz-translateY(10px);
    -ms-transform: -ms-translateY(10px);
    transform: translateY(10px);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    -webkit-transition: transform 0.3s, opacity 0.2s;
}
.p-container a:hover .p-category{
	opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.p-container > a:hover .p-title{
	-webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    color: #fff;
}
.p-container > a:hover .p-title:before{
	background: #fff;
    margin-top: 80px;
}/* </Title and category effect>*/

#project3{ width:30%; }
#project4{ width:70%; }

#project1 .inner-wrapper{ 
	/*background-image: url(../images/p2_1.jpg);
	background-size: cover;*/
	background-color: #FBB829; 
}
#project2 .inner-wrapper{ 
	/*background-image: url(../images/p1_1.jpg);
	background-size: cover;*/
	background-color: #FBB829;
}
#project3 .inner-wrapper{ 
	background-color: #E4DBD4; 
}
#project3 p{
	font-size: 16px;
	line-height: 24px;
}
#project4 .inner-wrapper{ 
	background-image: url(../images/identity_mockup-web.jpg);
	background-size: cover; 
}

.bttn{
	border: 3px solid white;
	font-family: inherit;
	font-size: inherit;
	color: #fff;
	background: none;
	cursor: pointer;
	padding: 5px 20px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	z-index: 2;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	box-sizing: border-box;
}

.bttn:after {
	content: '';
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: #fff;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.bttn:hover,
.bttn:active {
	color: #3B4E6A;
}

.bttn:hover:after,
.bttn:active:after {
	height: 100%;
}